table {
  margin: 0;
  white-space: "pre-wrap";
  word-wrap: "break-word";
  width: 50%;
  
  text-align: center;
  table-layout: fixed;
  
  background-color: #111111; 
  
}



th, td {
  border-bottom: 2px solid #ddd;
  width: 100px;
  height: 250px;
  vertical-align: middle;
}