body {
  margin: 0;
  
  width: 30%;
  
  text-align: center;
  table-layout: fixed;
  
  background-color: #111111; 
  
}


th, td {
  border-bottom: 2px solid #ddd;
  width: 5%;
  height: 20%;
  vertical-align: middle;
  background-color: #111111; 
}